%body.user-show-body
  .title-logo
    = link_to home_path do
      %span.first-word
        Canteen
      %span.second-word
        Koala
  %h2 Account details
  %p Name: #{@user.name}
  %p Email: #{@user.email}

  .button
    = link_to 'View your orders', orders_path