$font-stack: Poppins, sans-serif;
$light-color: #fbfef9;
$primary-color: #1b2021;
$secondary-color: #656a77;
$accent-color: #be0d5d;

.newBody {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

