$font-stack: Poppins, sans-serif;
$light-color: #fbfef9;
$primary-color: #1b2021;
$secondary-color: #656a77;
$accent-color: #be0d5d;

.password-reset-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    .field {
      width: 100%;
      margin-bottom: 1rem;

      input {
        height: 1.5em;
      }
    }
  }
}
