$font-stack: Poppins, sans-serif;
$light-color: #fbfef9;
$primary-color: #1b2021;
$secondary-color: #656a77;
$accent-color: #be0d5d;

#add-form {
  display: flex;
  flex-direction: column;

  input[type=text] {
    font: 100% $font-stack;
    font-weight: 300;
  }

  input[type=button] {
    font: 100% $font-stack;
    background-color: $accent-color;
    color: $light-color;
    border: none;
    width: 100%;
    margin-top: 20px;
    height: 30px;
  }
}