!!!
%body.edit-body
  = image_tag 'kitchen.jpg', alt: 'background-image', class: 'cover-img'
  .content-form
    .title-logo
      = link_to '/home' do
        %span.first-word
          Canteen
        %span.second-word
          Koala
    %h1 Edit an existing product
    .actions
      = render 'form', product: @product
      = link_to 'Back', @product
