!!!
%body.new-product-body
  = image_tag 'kitchen.jpg', alt: 'background-image', class: 'cover-img'
  .content-form
    .title-logo
      = link_to home_path do
        %span.first-word
          Canteen
        %span.second-word
          Koala
    %h1 Add a new product
    .actions
      = render 'form', product: @product
      = link_to 'Back', home_path
