!!!
%body.new-product-body
  = image_tag 'kitchen.jpg', alt: 'background-image', class: 'cover-img'
  .content-form
    %p
      %span.first-word Canteen
      %span.second-word Koala
    %h1 Add a new product
    = render 'form', product: @product
    = link_to 'Back', '/home'
