$font-stack: Poppins, sans-serif;
$light-color: #fbfef9;
$primary-color: #1b2021;
$secondary-color: #656a77;
$accent-color: #be0d5d;

.new-product-body {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .field {
    margin-bottom: 0.7rem;
  }

  .button {
    align-self: center;

    &:hover {
      input {
        cursor: pointer;
      }
    }
  }
}
