$font-stack: Poppins, sans-serif;
$light-color: #fbfef9;
$primary-color: #1b2021;
$secondary-color: #656a77;
$accent-color: #be0d5d;

.product-show-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cart-button {
    margin-top: 30px;
    background-color: $accent-color;
    border-radius: 0.3em;

    a {
      color: $light-color;
    }
  }
}

.title-logo {
  margin-top: 30px;
  color: $primary-color;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;

  .second-word {
    color: $accent-color;
  }
}

.item-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .item-image {
    margin-top: 30px;

    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      box-shadow: 0 0 10px 5px #c0c0c0;
      margin-bottom: 25px;
      pointer-events: none;
    }
  }

  .title {
    color: $primary-color;
    font-size: 2em;
    font-weight: 700;
    pointer-events: none;
  }

  .category {
    color: $secondary-color;
    font-size: 1.5em;
    font-weight: 500;
    pointer-events: none;
  }

  .price {
    color: $accent-color;
    font-size: 1.7em;
    pointer-events: none;
  }
}

.item-buttons {
  width: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto auto;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 5px;
  border: 0.13em $accent-color solid;
  border-radius: 0.3em;

  input {
    background-color: $light-color;
    border: none;
    font: 100% $font-stack;
  }
}
